@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
*{font-family: NanumSquare}
.mypage{height: auto;}

hr{margin:0 0 1rem !important;}
#info-container{
    width: 56%;
    margin: 2rem 22% 0;
}
.info-title-wrap{overflow: hidden;}
.info-title{font-size: 3rem; color: #9189EB; font-weight: bold; float:left;} 

.editing-btn{position:relative; top: 3rem; color: #9189EB; float: right; }
.checkbox-rec{display: none;}

#info-container ul{}
#editing-ul{}
.info-box{border:1px solid #9189EB; border-radius: 5px; margin-bottom: 0.7rem; padding: 0.3rem;} /*1,2,3*/


.name-label{margin-left:0.3rem; color: #9189EB;}
.major-label{margin-left:0.3rem; color: #9189EB;}
.studentId-label{margin-left:0.3rem; color: #9189EB;}

.input-name{width:90%; margin-left:0.3rem; border:none; outline:none; font-size: 1.2rem;}
.input-major{width:90%; margin-left:0.3rem; border:none; outline:none; font-size: 1.2rem;}
.input-studentId{width:90%; margin-left:0.3rem; border:none; outline:none; font-size: 1.2rem;}


#static-ul{}

.name-info{margin-left:0.3rem; font-size: 1.2rem;}
.name-info:empty:before{
    content: attr(placeholder);
  }
.major-info{margin-left:0.3rem; font-size: 1.2rem;}
.major-info:empty:before{
    content: attr(placeholder);
  }
.studentId-info{margin-left:0.3rem; font-size: 1.2rem;}
.studentId-info:empty:before{
    content: attr(placeholder);
  }

#bookmark-container{
    width: 56%;
    margin: 0 22%;
}

.bookmark-title{font-size: 3rem; color: #9189EB; font-weight: bold;}

#bookmark-container ul{}
.bookmark-box{border:1px solid #9189EB; overflow: hidden; border-radius: 5px; margin-bottom: 0.7rem; padding: 0.3rem;}

.bookmark-categories{
    width: 60%;
    float:left;
}
.bookmark-lcmc{margin-left:0.3rem; overflow: hidden;}
.large-category{margin-right: 0.5rem; border-radius: 7px; padding: 0 0.5rem; background-color: #9189EB; color:white; float:left;}
.medium-category{border:1px solid #9189EB; border-radius: 7px; padding: 0 0.5rem; color: #9189EB; float:left}
.small-category{margin-left: 0.3rem;}
.bookmark-box img{cursor: pointer;  float:right; position:relative; top: 1rem; right: 1rem; filter: invert(68%) sepia(44%) saturate(4440%) hue-rotate(208deg) brightness(96%) contrast(92%);}

@media screen and (max-width: 700px){
  #info-container, #bookmark-container{width:76%; margin: 2rem 12% 0;}
  .info-title, .bookmark-title{font-size:2.5rem;}
  .editing-btn{position:relative; top: 2.4rem; color: #9189EB; float: right; }
}
@media screen and (max-width: 400px){
  #info-container, #bookmark-container{width:82%; margin: 2rem 9% 0;}
  .info-title, .bookmark-title{font-size:2rem;}
  .editing-btn{position:relative; top: 1.5rem; color: #9189EB; float: right;}
  .name-label, .major-label, .studentId-label{font-size: 0.8rem;}
  .input-name, .input-major, .input-studentId{font-size: 1rem;}
  .name-info, .major-info, .studentId-info{font-size: 1rem;}
}