:root {
  --green-main: #6cbcc6;
  --green-background: #e0f2f4;
  --yellow-main: #f4bc77;
  --yellow-background: #fcecd3;
  --purple-main: #9189eb;
  --purple-background: #eae8fa;
  --darkGray-text: #3f424d;
  --lightGray-background: #efefef;
  --blueGray-text: #8992b0;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#app {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.mail__text_dark-gray {
  font-family: 'NanumSquare', sans-serif !important;
  font-size: 16;
  font-weight: normal;
  color: var(--darkGray-text);
}

.disable-scroll {
  overflow: hidden;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: transparent;
}

.responsive {
  width: 100%;
  height: auto;
}
