.background-layer {
  z-index: -1;
}

.landing-potato{
  width: 25%;
  z-index:20;
  position:relative;
  top: -17rem;
  left: 68rem;
}
.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  align-items:center;
  justify-content: center;
  padding-bottom: 8%;
}

.main-layer {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  height: 80%;
}

.left-div {
  margin: 0;
  width: 40%;
}

.text-slogan {
  font-family: 'GmarketSansLight';
  width: 100%;
  margin: 0;
}

.link-button {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  background-color: var(--green-main);
  border-radius: 24px;
  padding: 8px 24px;
}

.link-button__text {
  display: inline-flexbox;
  font-family: 'NanumSquare';
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.link-button__img {
  display: inline-flex;
  margin-left: 8px;
  max-width: 24px;
  object-fit: cover;
}

.link-button__img img {
  width: 80%;
  height: auto;
}

.right-div {
  width: 60%;
  height: 85%;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.05));
}

.top-bar {
  height: 40px;
  background-color: var(--lightGray-background);
  border-radius: 16px 16px 0px 0px;
  padding-left: 17px;
  width: 100%;
  float: left;
}

.circle {
  z-index: 10;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin: 13px 3px;
}

.circle-1 {
  background-color: var(--purple-main);
}

.circle-2 {
  background-color: var(--green-main);
}

.circle-3 {
  background-color: var(--yellow-main);
}

.mail-to {
  float: left;
  height: 40px;
  border-bottom: 2px solid var(--lightGray-background);
  width: 100%;
  vertical-align: middle;
}

.mail-to_field {
  font-family: 'NanumSquare', sans-serif !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: var(--blueGray-text);
  display: inline-block;
  padding-left: 11px;
}

.mail-to_prof {
  display: inline-block;
  margin-left: 15px;
  font-family: 'NanumSquare', sans-serif !important;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--purple-main);
  color: white;
  border-radius: 8px;
  padding: 3px 8px 3px 8px;
  position: relative;
  top: -2px;
}

.mail-to_prof img {
  width: 12px;
  height: 12px;
  padding: 1px;
  position: relative;
  top: 2px;
}

.mail-to_title {
  height: 40px;
  width: 100%;
  font-family: 'NanumSquare', sans-serif !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: var(--blueGray-text);
  padding-left: 11px;
  border-bottom: 2px solid var(--lightGray-background);
  margin-bottom: 0px;
}

.mail-to_text {
  font-family: 'NanumSquare', sans-serif !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  margin-top: 22px;
  margin-left: 24px;
}
