.scenario-list{ 
    margin-top: 2rem;
    margin-bottom: 2rem;}

.sclist-ul{margin: 0px;
    padding: 0px;
    width: 100%;}
.sclist-ul li{display: inline-block;
    width: 32%;
    padding: 0.2rem 1rem ;
    margin-bottom: 0.2rem;
    font-size: 12px;
    cursor: pointer;}
.sclist-ul li:hover a{
    color:#6CBCC6 !important;
    }
.sclist-ul li:focus a{
    color:#6CBCC6 !important;
    }

.sclist-ul li a{font-size: 1.2rem; color:black !important;}
.lc{padding: 0 2rem; margin: 0 10% 3rem 10%; width: 80%;}
.lc-title{font-size:2rem; color: #6CBCC6; margin-bottom: 0.2rem;}


/* responsive */

@media screen and (max-width:953px){
    .sclist-ul li{
        width: 45%;
    }
}
@media screen and (max-width:702px){
    .sclist-ul li{
        width: 90%;
    }
}